<!DOCTYPE html>
{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center">
    <h1> Models and Analytics </h1>
<p> Our team has used various machine learning models to forecast sales but we got the best results from polinomial regression model. 
    We have added detailed notes in model notes section. In addition to that you can check our optimization model in our mobile optimization tool by clicking the link below.
    
</p>
<a href = "https://filmetricscapstone.shinyapps.io/FilMetricsCapstone/"> Mobile Application with Optimizer </a>
<br>

<a href = "https://970-dot-7113966-dot-devshell.appspot.com/mini-browser/home/omerahmaad/Final_GlenArtTheater_FilMetrics.pdf"> Model Notes </a>
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://filmetricscapstone.shinyapps.io/FilMetricsCapstone/_w_4b8cb31f/logo.jpg" alt="logo" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="/">Home</a></li>
          <li><a class="text-muted" href="/about">About Us</a></li>
          <li><a class="text-muted" href="/Models">Models</a></li>
          <li><a class="text-muted" href="https://filmetricscapstone.shinyapps.io/FilMetricsCapstone/">Mobile App</a></li>
          </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Film Matrics</h5>
        <ul class="list-unstyled text-small">
          <li>Copyrights Team 64 Film Analytics</li>
          <li>Contact Information:</a></li>
          <li><a class="text-muted" href="mailto:omerahmad2018@u.northwestern.edu">Omer Ahmad</a></li>
          <li><a class="text-muted" href="mailto:jeffreygrobart2019@u.northwestern.edu">Jeff Grobart</a></li>
        </ul>
      </div>
</footer>
{% endblock %}